@{
    ViewData["Title"] = "Stacje";
}
@model IEnumerable<Station>

<!--Nagłówek-->
<header>
    <!--Pasek nawigacyjny-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Internetowy biletomat</a>
        <!--Kontener z elementami paska nawigacyjnego-->
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("Index","Home")>Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rezerwacja biletu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lista wszystkich pasażerów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("ListOfConnections","RailwayConnection")>Lista połączeń</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("ListOfStations","Station")>Stacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href=@Url.Action("ListOfTrains","Train")>Pociągi</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Tabela do wyświetlenia zawartości bazy danych-->
    <table class="table">
        <!--Nagłówek tabeli-->
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m.Town)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.PlatformsNumber)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.YearOfFound)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.HasTicketOffice)</th>
            </tr>
        </thead>
        <!--Zawartość tabeli-->
        <tbody>

            @foreach (var train in Model)
            {
                //Dodanie pojedynczego rekordu do tabeli
                <tr>
                    <td>@Html.DisplayFor(modelItem => train.Town)</td>
                    <td>@Html.DisplayFor(modelItem => train.PlatformsNumber)</td>
                    <td>@Html.DisplayFor(modelItem => train.YearOfFound)</td>
                    @{ 
                        //Sprawdzenie czy stacja ma kasy i wyświetlenie odpowiedniej ikony
                        switch (train.HasTicketOffice)
                        {
                            case true: <td>&#10004</td> break;
                            case false: <td>&#10060</td> break;
                         }
                     }


                </tr>
            }
        </tbody>
    </table>
