@{
    ViewData["Title"] = "Stacje";
}
@model IEnumerable<Station>

    <!--Tabela do wyświetlenia zawartości bazy danych-->
    <table class="table">
        <!--Nagłówek tabeli-->
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m.Town)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.PlatformsNumber)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.YearOfFound)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.HasTicketOffice)</th>
            </tr>
        </thead>
        <!--Zawartość tabeli-->
        <tbody>

            @foreach (var train in Model)
            {
                //Dodanie pojedynczego rekordu do tabeli
                <tr>
                    <td>@Html.DisplayFor(modelItem => train.Town)</td>
                    <td>@Html.DisplayFor(modelItem => train.PlatformsNumber)</td>
                    <td>@Html.DisplayFor(modelItem => train.YearOfFound)</td>
                    @{ 
                        //Sprawdzenie czy stacja ma kasy i wyświetlenie odpowiedniej ikony
                        switch (train.HasTicketOffice)
                        {
                            case true: <td>&#10004</td> break;
                            case false: <td>&#10060</td> break;
                         }
                     }


                </tr>
            }
        </tbody>
    </table>
