@{
    ViewData["Title"] = "Połączenia kolejowe";
}

@model IEnumerable<RailwayConnection>

<!--Tabela do wyświetlenia zawartości bazy danych-->
<table class="table">
    <!--Nagłówek tabeli-->
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => m.TimeOfDeparture)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.PlaceOfDeparture)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.TimeOfArrival)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Destination)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Train)</th>
        </tr>
    </thead>

    <!--Zawartość tabeli-->
    <tbody>

        @foreach (var railwayConnection in Model)
        {
            //Dodanie pojedynczego rekordu do tabeli
            <tr>
                <td>@Html.DisplayFor(modelItem => railwayConnection.TimeOfDeparture)</td>
                <td>@Html.DisplayFor(modelItem => railwayConnection.PlaceOfDeparture.Town)</td>
                <td>@Html.DisplayFor(modelItem => railwayConnection.TimeOfArrival)</td>
                <td>@Html.DisplayFor(modelItem => railwayConnection.Destination.Town)</td>
                <td>@Html.DisplayFor(modelItem => railwayConnection.Train.Manufacturer) @Html.DisplayFor(modelItem => railwayConnection.Train.Model) </td>
            </tr>
        }
    </tbody>
</table>
